/* line 18, scss/mystylesheet.scss */
.my_transparent {
  background-color: transparent; }

/* line 22, scss/mystylesheet.scss */
.my_blue {
  color: #428bca; }

/* line 26, scss/mystylesheet.scss */
.my_websitetitle, .my_header {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif; }
