// Imporation du framework compass
@import "compass";

// Mes polices importées
@include font-face("Ubuntu", font-files("http://localhost/dorothy/assets/myfonts/Ubuntu/Ubuntu-Regular.ttf"));
@include font-face("Open Sans", font-files("http://localhost/dorothy/assets/myfonts/Open_Sans/OpenSans-Regular.ttf"));

// Mes variables 
$my_grey: #E9E9E9;
$my_darkgrey: #A2A2A2;
$my_black: #444444;
$my_blue: #428bca;
$my_blueshadow: #357ebd;
$my_sliderheight: 400px;

// Les variables relatives à compass
$default-box-shadow-color: $my_darkgrey;

// Mes mixins
@mixin my_fonttitle(){
	font-family: 'Ubuntu', sans-serif !important;
}
@mixin my_fontwebsitetitle(){
	font-family: 'Open Sans', sans-serif;
}

 // Mes classes 
.my_transparent{
	background-color: transparent;
}
.my_fontbody{
	@include my_fonttitle();
	font-size: 14px;
}
.my_blue{
	color: $my_blue;
}
.my_blueborderbottom{
	border-bottom: $my_blue 1px solid;
}
.my_websitetitle{
	font-size: 25px;
	@include my_fontwebsitetitle();
}
.my_header{
	@extend .my_websitetitle;
	margin: 0px;
	@extend .my_blueborderbottom;
}
.my_slider{
	height: $my_sliderheight;
	margin: 0px;
	@include box-shadow();
	@extend .my_blueborderbottom;
}