@import "compass";

$my_grey: #E9E9E9;
$my_darkgrey: #A2A2A2;
$my_black: #444444;
$my_blue: #428bca;
$my_blueshadow: #357ebd;

@mixin my_fonttitle(){
	font-family: 'Ubuntu', sans-serif;
}
@mixin my_fontwebsitetitle(){
	font-family: 'Open Sans', sans-serif;
}

 $default-text-shadow-color: $my_blueshadow;

.my_transparent{
	background-color: transparent;
}

.my_blue{
	color: $my_blue;
}

.my_websitetitle{
	font-size: 25px;
	@include my_fontwebsitetitle();
}

.my_header{
	@extend .my_websitetitle;
}